* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #ffff;
  background-color: #f1f4f7;
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #000000;
  height: 90vh;
}

.spacing {
  padding: 0px 15px 0px 15px;
  cursor: pointer;
}

.content {
  top: 5rem;
  margin: 1rem;
  height: 90vh;
}
.label-top {
  transform: translateY(-10px);
}

