.Terrace_1:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_2:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_3:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_4:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_5:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_6:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_7:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_8:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_9:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_10:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_11:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_12:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_13:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_14:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_15:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_16:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_17:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_18:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_19:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_20:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_21:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_22:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_23:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_24:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_25:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_26:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_27:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_28:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_29:hover {
  fill: rgb(29, 65, 112);
}
.Terrace_30:hover {
  fill: rgb(29, 65, 112);
}

.iHouse_1:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_2:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_3:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_4:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_5:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_6:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_7:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_8:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_9:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_10:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_11:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_12:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_13:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_14:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_15:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_16:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_17:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_18:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_19:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_20:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_21:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_22:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_23:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_24:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_25:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_26:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_27:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_28:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_29:hover {
  fill: rgb(29, 65, 112);
}
.iHouse_30:hover {
  fill: rgb(29, 65, 112);
}
